{#  articles_panier  : tableau de dictionnaires
        * dictionnaire : nom quantite prix article_id [stock]
        *
#}

{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
        {% include('client/boutique/_panier.html') %}
            <div class="col">
              <h3>Les filtres</h3>
              Articles dont le nom est composé par :<br>
                 {% include('client/boutique/_filtre.html') %}
            </div>
        </div>

        <div class="bg-light p-3">
            <h1>Les articles</h1>
        </div>

        <div class="row">
                {% for article in articles  %}
                        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1">
                                <a href="/client/article/details?id_article={{ article.id_ski }}" >
                                <h3 class="card-title">
                                    <span style="color: #0b2e13">{{ article.nom_ski }}</span><br>
                                    {{ article.prix_ski }}€
                                </h3>
                                <p>Marque : {{ article.nom_marque }}</p>
                                <p>Type : {{ article.libelle }}</p>
                                     {%  if article.photo_ski is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:200px;height:200px"  src="/{{ article.photo_ski }}"  alt="image de {{ article.nom_ski }}" >
                                    {% else %} 
                                        <img class="card-img-top rounded mx-auto d-block"   style="width:200px;height:200px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image de {{ article.nom_ski }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                                <div class="row">
                                        <form  action="/client/panier/add"  method="post" class="col-5">
                                            <input type="hidden" name="id_article" value="{{ article.id_ski }}">
                                            <div class="input-group">
                                            <button class="btn  btn-success"  id="button-addon1">
                                                <i class="fas fa-shopping-cart">Ajouter</i>
                                            </button>
                                            <input type="number" id="input-{{ article.id_ski }}" step="1" min="1" max="10" class="form-control" value="1" name="quantite"  aria-describedby="button-addon1">
                                            </div>
                                        </form>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>Largeur : {{ article.largeur_ski }} mm</p>
                                {% if article.conseil_utilisation %}
                                    <small class="text-muted">{{ article.conseil_utilisation }}</small>
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{#    {{ articles | pprint }}#}
{% endblock %}
